{
	auto_https off
	admin off
}

http://gitea {
	reverse_proxy gitea:3000
}

http://campsites {
	reverse_proxy sample-app:8000
}

http://retro-waveform {
	reverse_proxy retro-waveform:8000
}

:80 {
	@gitea path /gitea /gitea/*
	handle @gitea {
		uri strip_prefix /gitea
		reverse_proxy gitea:3000
	}

	@campsites path /campsites /campsites/*
	handle @campsites {
		uri strip_prefix /campsites
		reverse_proxy sample-app:8000
	}

	@retro_waveform path /retro-waveform /retro-waveform/*
	handle @retro_waveform {
		uri strip_prefix /retro-waveform
		reverse_proxy retro-waveform:8000
	}

	handle {
		header Cache-Control "no-store"
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
